In [181]:
#import dependencies
import os
import csv
import pandas as pd
import numpy as np
from pathlib import Path

In [182]:
# Combine the current working directory with the relative path
file = os.path.join("Resources", "Campaign performance.csv")

# Read the csv file with historical data from 2021 - 2024
df = pd.read_csv(file)

# Display the data table for preview
df.head(10)

,Year,Month,Currency code,Cost,Clicks,Impr.,CTR,Avg. CPC,Revenue,Conversions,Conv. rate
0,2021,21-Jan,USD,14704.12,"35,298","362,238",9.74%,0.42,161608.75,"1,455.45",4.12%
1,2021,21-Feb,USD,14417.37,"31,320","266,177",11.77%,0.46,136573.01,"1,301.83",4.16%
2,2021,21-Mar,USD,17015.18,"36,694","359,623",10.20%,0.46,175560.12,"1,634.24",4.45%
3,2021,21-Apr,USD,20799.60,"42,823","389,425",11.00%,0.49,204475.32,"1,827.76",4.27%
4,2021,21-May,USD,15546.60,"30,229","328,758",9.19%,0.51,162003.50,"1,415.83",4.68%
5,2021,21-Jun,USD,17890.07,"42,198","357,839",11.79%,0.42,199008.02,"1,643.40",3.89%
6,2021,21-Jul,USD,21247.44,"57,338","442,220",12.97%,0.37,307275.57,"2,132.63",3.72%
7,2021,21-Aug,USD,24122.15,"60,731","490,402",12.38%,0.40,316354.11,"2,182.71",3.59%
8,2021,21-Sep,USD,25373.93,"61,548","564,992",10.89%,0.41,361900.72,"2,420.25",3.93%
9,2021,21-Oct,USD,27043.32,"62,443","436,358",14.31%,0.43,328663.68,"2,361.72",3.78%

In [183]:
#count the number of rows in the dataframe
df.count()

Year             49
Month            49
Currency code    49
Cost             49
Clicks           49
Impr.            49
CTR              49
Avg. CPC         49
Revenue          49
Conversions      49
Conv. rate       49
dtype: int64

In [184]:
# drop columns that are not needed
df = df.drop(columns=['Currency code', 'CTR', 'Avg. CPC', 'Conversions', 'Conv. rate'])
df.head(10)

   Year   Month      Cost  Clicks    Impr.    Revenue
0  2021  21-Jan  14704.12  35,298  362,238  161608.75
1  2021  21-Feb  14417.37  31,320  266,177  136573.01
2  2021  21-Mar  17015.18  36,694  359,623  175560.12
3  2021  21-Apr  20799.60  42,823  389,425  204475.32
4  2021  21-May  15546.60  30,229  328,758  162003.50
5  2021  21-Jun  17890.07  42,198  357,839  199008.02
6  2021  21-Jul  21247.44  57,338  442,220  307275.57
7  2021  21-Aug  24122.15  60,731  490,402  316354.11
8  2021  21-Sep  25373.93  61,548  564,992  361900.72
9  2021  21-Oct  27043.32  62,443  436,358  328663.68

In [185]:
# Rename rows in the Month column to name of the month
df['Month'] = df['Month'].replace({
    '21-Jan': 'January', 
    '21-Feb': 'February', 
    '21-Mar': 'March', 
    '21-Apr': 'April', 
    '21-May': 'May', 
    '21-Jun': 'June', 
    '21-Jul': 'July', 
    '21-Aug': 'August', 
    '21-Sep': 'September', 
    '21-Oct': 'October', 
    '21-Nov': 'November', 
    '21-Dec': 'December',
    '22-Jan': 'January', 
    '22-Feb': 'February', 
    '22-Mar': 'March', 
    '22-Apr': 'April', 
    '22-May': 'May', 
    '22-Jun': 'June', 
    '22-Jul': 'July', 
    '22-Aug': 'August', 
    '22-Sep': 'September', 
    '22-Oct': 'October', 
    '22-Nov': 'November', 
    '22-Dec': 'December',
    '23-Jan': 'January', 
    '23-Feb': 'February', 
    '23-Mar': 'March', 
    '23-Apr': 'April', 
    '23-May': 'May', 
    '23-Jun': 'June', 
    '23-Jul': 'July', 
    '23-Aug': 'August', 
    '23-Sep': 'September', 
    '23-Oct': 'October', 
    '23-Nov': 'November', 
    '23-Dec': 'December',
    '24-Jan': 'January',
    '24-Feb': 'February',   
    '24-Mar': 'March',
    '24-Apr': 'April',
    '24-May': 'May',
    '24-Jun': 'June',
    '24-Jul': 'July',
    '24-Aug': 'August',
    '24-Sep': 'September',
    '24-Oct': 'October',
    '24-Nov': 'November',
    '24-Dec': 'December',
    '25-Jan': 'January'
    
})
df.head(50)

    Year      Month      Cost   Clicks      Impr.    Revenue
0   2021    January  14704.12   35,298    362,238  161608.75
1   2021   February  14417.37   31,320    266,177  136573.01
2   2021      March  17015.18   36,694    359,623  175560.12
3   2021      April  20799.60   42,823    389,425  204475.32
4   2021        May  15546.60   30,229    328,758  162003.50
5   2021       June  17890.07   42,198    357,839  199008.02
6   2021       July  21247.44   57,338    442,220  307275.57
7   2021     August  24122.15   60,731    490,402  316354.11
8   2021  September  25373.93   61,548    564,992  361900.72
9   2021    October  27043.32   62,443    436,358  328663.68
10  2021   November  31352.82   66,781    471,638  369274.15
11  2021   December  36009.70   69,060    470,121  395744.74
12  2022    January  35615.68   73,254    514,042  353413.75
13  2022   February  34002.76   66,257    485,430  320456.74
14  2022      March  46514.65   87,248    598,060  427529.86
15  2022      April  41303.78   79,052    559,841  385232.38
16  2022        May  37572.79   76,280    642,775  400335.38
17  2022       June  38169.74   75,619    573,131  397559.20
18  2022       July  40833.50   85,330    640,709  437628.82
19  2022     August  39719.02   95,272  1,456,093  517369.65
20  2022  September  40413.15  103,542  2,588,390  497083.59
21  2022    October  44322.15  102,938  1,862,954  517751.54
22  2022   November  68230.79  120,598  3,358,769  650505.81
23  2022   December  59228.11  112,465  2,993,246  521738.34
24  2023    January  71178.08  137,258  4,638,419  548100.04
25  2023   February  56597.93  122,597  3,589,805  523718.32
26  2023      March  72658.04  137,723  5,325,996  600050.80
27  2023      April  75598.62  132,785  5,275,014  568554.08
28  2023        May  65085.29  114,894  4,345,887  525069.38
29  2023       June  54678.87  102,061  2,966,699  504295.01
30  2023       July  53137.71  109,405  2,777,110  553108.09
31  2023     August  78476.27  131,650  3,506,780  627827.54
32  2023  September  74761.25  120,590  3,237,274  560082.40
33  2023    October  76249.58  148,329  3,366,519  652851.37
34  2023   November  89591.67  163,940  4,403,938  860796.68
35  2023   December  71986.45  149,076  4,413,276  771881.65
36  2024    January  72640.95  161,879  4,223,322  874548.84
37  2024   February  69539.16  164,170  3,741,858  843118.45
38  2024      March  70999.64  153,223  3,211,886  838384.47
39  2024      April  66141.17  135,359  3,584,601  749154.96
40  2024        May  75513.99  134,579  4,317,858  705868.80
41  2024       June  62121.33  123,211  3,969,074  586437.94
42  2024       July  74242.79  133,124  4,519,389  648114.64
43  2024     August  68622.71  131,745  4,644,514  581089.71
44  2024  September  61914.52  133,701  4,078,345  563082.73
45  2024    October  80202.93  155,917  5,168,023  680107.48
46  2024   November  74655.30  150,194  4,045,549  718033.91
47  2024   December  79955.40  152,542  4,681,506  653737.44
48  2025    January  73595.93  154,346  4,354,768   92540.58

In [186]:
# convert the month column to datetime
df['Month'] = pd.to_datetime(df['Month'], format='%B').dt.month

#convert the year column to datetime
df['Year'] = pd.to_datetime(df['Year'], format='%Y').dt.year

In [187]:
# Display the datatypes
df.dtypes

Year         int32
Month        int32
Cost       float64
Clicks      object
Impr.       object
Revenue    float64
dtype: object

In [188]:
# Reset the index and drop the index column
df.reset_index(drop=True, inplace=True)

# Display the first 10 rows of the dataframe
df.head(10)

   Year  Month      Cost  Clicks    Impr.    Revenue
0  2021      1  14704.12  35,298  362,238  161608.75
1  2021      2  14417.37  31,320  266,177  136573.01
2  2021      3  17015.18  36,694  359,623  175560.12
3  2021      4  20799.60  42,823  389,425  204475.32
4  2021      5  15546.60  30,229  328,758  162003.50
5  2021      6  17890.07  42,198  357,839  199008.02
6  2021      7  21247.44  57,338  442,220  307275.57
7  2021      8  24122.15  60,731  490,402  316354.11
8  2021      9  25373.93  61,548  564,992  361900.72
9  2021     10  27043.32  62,443  436,358  328663.68

In [189]:
# display data types
df.dtypes

Year         int32
Month        int32
Cost       float64
Clicks      object
Impr.       object
Revenue    float64
dtype: object

In [190]:
# create a dataframe for converting date columns to datetime


# convert the date columns to datetime

In [191]:
# Check for any NaT values that indicate conversion issues
df.isnull().sum()

Year       0
Month      0
Cost       0
Clicks     0
Impr.      0
Revenue    0
dtype: int64

In [192]:
# count the number of rows in the dataframe
df.count()

Year       49
Month      49
Cost       49
Clicks     49
Impr.      49
Revenue    49
dtype: int64

In [193]:
# display data types

In [194]:
# save the grouped data to a csv file
df.to_csv('Resources/cleaned_google_ads_data.csv', index=False)

In [195]:
# Combine the current working directory with the relative path
ga4_file = os.path.join("Resources", "Traffic_acquisition.csv")

# Read the csv file with historical data from 2022 - 2024
ga4_df = pd.read_csv(ga4_file)

# Display the data table for preview
ga4_df.head(10)

,Date,Channel,Sessions,Engaged sessions,Engagement rate,Average engagement time per session,Events per session,Event count,Key events,Session key event rate,Total revenue
0,3/10/2024,Direct,20379,9488,0.465577,69.170175,10.589970,215813,220,0.010648,34345.03
1,8/26/2022,Unassigned,16968,0,0.000000,108.200849,9.119873,154746,269,0.015677,41914.06
2,8/24/2022,Unassigned,16658,0,0.000000,117.884380,9.453536,157477,271,0.016148,41627.16
3,3/9/2024,Direct,16572,6849,0.413287,66.205226,10.127021,167825,163,0.009776,25693.29
4,8/25/2022,Unassigned,16484,0,0.000000,114.452985,9.447525,155733,260,0.015712,43352.59
5,8/22/2022,Unassigned,16458,0,0.000000,114.278466,9.409588,154863,238,0.014279,38161.80
6,8/23/2022,Unassigned,16003,0,0.000000,120.657064,9.812973,157037,239,0.014747,37627.56
7,7/12/2024,Direct,15063,10090,0.669853,44.303924,9.690301,145965,120,0.007900,20177.51
8,7/16/2024,Direct,14044,9072,0.645970,32.094062,8.464540,118876,79,0.005554,13142.68
9,2/3/2023,Direct,13643,3430,0.251411,32.778055,4.958587,67650,66,0.004838,10440.39

In [196]:
# Ensure the date column is in datetime format
ga4_df['Date'] = pd.to_datetime(ga4_df['Date'])

# Create new columns for month, year, and day
ga4_df['Year'] = ga4_df['Date'].dt.year
ga4_df['Month'] = ga4_df['Date'].dt.month
ga4_df['Day'] = ga4_df['Date'].dt.day

# Display the first 10 rows of the dataframe to verify
ga4_df.head(10)

,Date,Channel,Sessions,Engaged sessions,Engagement rate,Average engagement time per session,Events per session,Event count,Key events,Session key event rate,Total revenue,Year,Month,Day
0,2024-03-10,Direct,20379,9488,0.465577,69.170175,10.589970,215813,220,0.010648,34345.03,2024,3,10
1,2022-08-26,Unassigned,16968,0,0.000000,108.200849,9.119873,154746,269,0.015677,41914.06,2022,8,26
2,2022-08-24,Unassigned,16658,0,0.000000,117.884380,9.453536,157477,271,0.016148,41627.16,2022,8,24
3,2024-03-09,Direct,16572,6849,0.413287,66.205226,10.127021,167825,163,0.009776,25693.29,2024,3,9
4,2022-08-25,Unassigned,16484,0,0.000000,114.452985,9.447525,155733,260,0.015712,43352.59,2022,8,25
5,2022-08-22,Unassigned,16458,0,0.000000,114.278466,9.409588,154863,238,0.014279,38161.80,2022,8,22
6,2022-08-23,Unassigned,16003,0,0.000000,120.657064,9.812973,157037,239,0.014747,37627.56,2022,8,23
7,2024-07-12,Direct,15063,10090,0.669853,44.303924,9.690301,145965,120,0.007900,20177.51,2024,7,12
8,2024-07-16,Direct,14044,9072,0.645970,32.094062,8.464540,118876,79,0.005554,13142.68,2024,7,16
9,2023-02-03,Direct,13643,3430,0.251411,32.778055,4.958587,67650,66,0.004838,10440.39,2023,2,3

In [197]:
# Agggregate the total sessions, engaged sessions, engagement rate, average engagement time persession, event per session, 
# event count, key events, and total revenue, group by channel , year and month


# Group by 'channel', 'Year', and 'Month' and aggregate the specified columns
aggregated_ga4_df = ga4_df.groupby(['Channel', 'Year', 'Month']).agg({
    'Sessions': 'sum',
    'Engaged sessions': 'sum',
    'Engagement rate': 'mean',
    'Average engagement time per session': 'mean',
    'Events per session': 'mean',
    'Event count': 'sum',
    'Key events': 'sum',
    'Total revenue': 'sum'
}).reset_index()

# Sort the aggregated dataframe by 'Year' and 'Month' in ascending order
aggregated_ga4_df = aggregated_ga4_df.sort_values(by=['Year', 'Month'], ascending=[True, True])

# Display the aggregated dataframe
aggregated_ga4_df.head(10)

,Channel,Year,Month,Sessions,Engaged sessions,Engagement rate,Average engagement time per session,Events per session,Event count,Key events,Total revenue
35,Direct,2022,5,114686,57415,0.522395,86.894168,9.163713,1019490,1486,221493.95
68,Display,2022,5,1,1,1.000000,5.000000,4.000000,4,0,0.00
100,Email,2022,5,9314,5330,0.516594,117.655536,11.232905,86048,99,13936.86
133,Organic Search,2022,5,124467,87154,0.702568,124.623657,11.306114,1403767,1591,230027.72
166,Organic Shopping,2022,5,322,198,0.629803,85.337400,12.219028,3944,57,8731.31
199,Organic Social,2022,5,19166,11862,0.620123,72.765380,8.069038,154276,57,7735.51
232,Organic Video,2022,5,258,158,0.640886,101.735696,11.149796,2700,1,76.79
265,Paid Other,2022,5,9,4,0.357143,17.214286,4.714286,50,0,0.00
295,Paid Search,2022,5,105480,78351,0.745207,155.326486,12.341466,1297667,1900,295522.55
328,Paid Shopping,2022,5,947,573,0.607895,95.274728,7.860947,7556,9,1566.15

In [203]:
# drop the display, referral, sms, paid social, unassigned, affiliates, and email row under the channel column
aggregated_ga4_df = aggregated_ga4_df[aggregated_ga4_df['Channel'] != 'Display']
aggregated_ga4_df = aggregated_ga4_df[aggregated_ga4_df['Channel'] != 'Email']
aggregated_ga4_df = aggregated_ga4_df[aggregated_ga4_df['Channel'] != 'Referral']
aggregated_ga4_df = aggregated_ga4_df[aggregated_ga4_df['Channel'] != 'SMS']
aggregated_ga4_df = aggregated_ga4_df[aggregated_ga4_df['Channel'] != 'Paid Social']
aggregated_ga4_df = aggregated_ga4_df[aggregated_ga4_df['Channel'] != 'Unassigned']
aggregated_ga4_df = aggregated_ga4_df[aggregated_ga4_df['Channel'] != 'Affiliates']

# Display the first 10 rows of the dataframe
aggregated_ga4_df.head(10)

,Channel,Year,Month,Sessions,Engaged sessions,Engagement rate,Average engagement time per session,Events per session,Event count,Key events,Total revenue
35,Direct,2022,5,114686,57415,0.522395,86.894168,9.163713,1019490,1486,221493.95
133,Organic Search,2022,5,124467,87154,0.702568,124.623657,11.306114,1403767,1591,230027.72
166,Organic Shopping,2022,5,322,198,0.629803,85.337400,12.219028,3944,57,8731.31
199,Organic Social,2022,5,19166,11862,0.620123,72.765380,8.069038,154276,57,7735.51
232,Organic Video,2022,5,258,158,0.640886,101.735696,11.149796,2700,1,76.79
265,Paid Other,2022,5,9,4,0.357143,17.214286,4.714286,50,0,0.00
295,Paid Search,2022,5,105480,78351,0.745207,155.326486,12.341466,1297667,1900,295522.55
328,Paid Shopping,2022,5,947,573,0.607895,95.274728,7.860947,7556,9,1566.15
36,Direct,2022,6,114188,57617,0.514760,83.334001,8.910831,1002905,1505,242453.10
134,Organic Search,2022,6,148130,102576,0.692626,125.380595,11.367306,1682680,2049,300341.69